# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
templates/layout.html
downloads1e268ef6-014a-49e4-9d6c-ccba3f029adf.avi
downloadse8d49e39-3d6a-4a54-97ee-f1514ee24cd0.avi
uploads/output.mp4
static/2a9a13f6-54c6-4b7c-bb4c-6624b6b40e47.mp4
static/2f02e460-e4f6-45ca-9595-067b479dd2ab.avi
static/3cdb79f2-5f39-45fd-b52b-82d39a2c1452.mp4
static/6bafacff-14c6-44fe-a315-5280e1a9d1f1.avi
static/6c52d35b-82ba-4ad5-889f-048f80be92b3.avi
static/7b9e3a40-6bfc-454a-a6df-a9985921681d.avi
static/7d4d559a-34d2-45a6-bda9-31531c7c918d.mp4
static/08d55b4a-3bf9-4c4f-a2eb-a73dac8b5055.mp4
static/33bcc767-726a-4178-abf2-abc55e2cfaf9.mp4
static/43d2609a-51de-42c7-81bf-573756b3b1bf.avi
static/076b8864-65d5-437d-8bd8-a5782ed9dba8.avi
static/95b63b98-a822-4c54-9165-82311b757523.mp4
static/0326e336-935c-4e8d-98d0-d9ed84431dcf.avi
static/780e3c33-58ca-49c9-91a3-911684fc4ea0.avi
static/2588b33b-84b5-4fdc-bed0-3c8c7cb7a316.mp4
static/07330bd6-e29c-43cc-a95c-0c5a7a127e62.avi
static/0440494f-fefc-4263-b5ea-771eacb0cd61.avi
static/a16dbfdb-64b9-41c7-bcb3-1a21dea3e328.mp4
static/af14bcd1-5711-4dd1-94ef-df8040100a37.avi
static/b31557fc-cff8-4124-a781-b2fcdc6de3b5.mp4
static/b333890f-1679-4cd8-a083-32d8eb4abbe6.avi
static/bb238f30-08de-415b-8fa5-c2552d429767.mp4
static/bdf0d809-d062-4462-ae76-5d8fa473d38e.avi
static/c221c111-b38d-4611-9508-2b28d55142fa.mp4
static/d20f366f-4c43-4ae2-bba3-7a4b92f5933f.mp4
static/d995b485-2835-4131-83b5-1a494e6dd9c3.mp4
static/ef2f70af-4bea-4555-978e-cf3139fbefe5.avi
static/f1c53465-8561-4437-8cfb-fac08009bb1b.mp4
downloads/
db/cvplayground.sqlite
faster_rcnn_inception_v2_coco_2018_01_28/checkpoint
faster_rcnn_inception_v2_coco_2018_01_28/frozen_inference_graph.pb
faster_rcnn_inception_v2_coco_2018_01_28/model.ckpt.data-00000-of-00001
faster_rcnn_inception_v2_coco_2018_01_28/model.ckpt.index
faster_rcnn_inception_v2_coco_2018_01_28/model.ckpt.meta
faster_rcnn_inception_v2_coco_2018_01_28/pipeline.config
faster_rcnn_inception_v2_coco_2018_01_28/resnet.pbtxt
faster_rcnn_inception_v2_coco_2018_01_28/saved_model/saved_model.pb
static/6d7c4e99-36d8-4a7f-b197-6abbba286bf2.mp4
static/6e527cb3-00e0-477f-afbb-f546bc43e735.mp4
static/9c1bba09-772c-45fe-9db2-38b29919b7cc.mp4
static/627d7905-ff2f-4515-8bab-908aa97b8316.mp4
static/27569c1e-6d9b-413e-9ef5-73d8f3f1cd08.mp4
static/59842d1e-9ab1-4c0e-aa3d-4a3a623f97ca.mp4
static/a2ca7f8b-d53f-4650-9cf4-bb6e415c7dd2.mp4
static/a43b30de-83dd-48e5-93bf-6d100ab51f02.mp4
static/ea6d5de7-55c2-4532-b326-c7fe75f54431.mp4
static/fad9edef-8495-4834-abe2-b5a04d8ee015.mp4
