opencv_python==4.2.0.34
tensorflow==2.2.1
gunicorn==20.0.4
numpy==1.22.0
six==1.14.0
matplotlib==3.3.0
asposestorage==1.0.2
Pillow==7.1.2
Flask==1.1.2
werkzeug==1.0.1
pytest-custom-exit-code==0.3.0
imutils==0.5.3

