recursive-include cvplay/templates *.html
recursive-include cvplay/templates *.png
recursive-include cvplay/codes *.py
recursive-include cvplay/readme_assets *.png
recursive-include cvplay/static *.html
recursive-include cvplay/static *.png
recursive-include cvplay/ *.py
recursive-include cvplay/db *.sqlite
recursive-include cvplay/ *.cpp
recursive-include cvplay/ *.h
recursive-include cvplay/ *.cxx
recursive-include cvplay/ *.i
recursive-include cvplay/ *.so
recursive-include cvplay/static *