<!doctype html>
<html lang="en">
<title>Download Processed Video</title>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container" align="Center">
        <div class="col-4">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h3 class="card-title">Get your Video</h3>
                    <p class="card-text">Click on the button below to download your processed video</p>
                    <a href="/return-files/{{value}}" target="blank"><button
                            class='btn text-white border-light'>Download</button></a>
                </div>
            </div>
        </div>
</body>
</div>